.App {
  text-align: center;
  background-color: #ffd5b8;
  max-height: 100%;
}

.text {
  height: 250px;
}
.head {
  position: relative;
  top: -50px;
}

@media (prefers-reduced-motion: no-preference) {
  .head {
    animation: head-spin infinite 0.5s linear alternate;
    transform-origin: 200px 200px;
  }
}

@keyframes head-spin {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
